/* ブラウザがそれぞれ持っているCSSをリセットするための記述 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header{
  width: 100%; /*横幅100%*/
  height: 50px; /*高さ50px*/
  background-color: red; /*背景　レッド*/
}

.main-visual {
  width: 100%; /*横幅100%*/
  height: 300px; /*高さ300px*/
  background-color: orange; /*背景　オレンジ*/
}

.side-right{
  width: 230px; /*横幅230px*/
  height: 1400px; /* 高さ1400px */
  background-color: limegreen; /* lime背景色green */
}

.main {
   display: flex; /* Flexbox */
  justify-content: center; /* 横並び・中央寄せ */
}

.side-right{
  width: 230px; /*横幅230px*/
  height: 1400px; /* 高さ1400px */
  background-color: limegreen; /* lime背景色green */
}
.blog{
  width: 500px; /*横幅230px*/
  height: 1400px; /* 高さ1400px */
  background-color: green; /* lime背景色green */
}


.side-left{
  width: 230px; /*横幅230px*/
  height: 1400px; /* 高さ1400px */
  background-color: limegreen; /* lime背景色green */
}


.footer {
  width: 100%; /*横幅100%*/
  height: 100px; /*高さ100px*/
  background-color: blue; /*背景　ブルー*/
}